body {
  font-family: Arial, sans-serif;
}

/* Se você quiser aplicar Arial a um elemento específico */
h1, h2, h3, p {
  font-family: Arial, sans-serif;
}

/* Centralizar o conteúdo do header */
header {
  background: linear-gradient(to bottom, #a0c4ff, #003f5c); /* Azul claro para azul escuro */
  padding: 20px; /* Ajuste conforme necessário */
  text-align: center; /* Opcional, centraliza o conteúdo horizontalmente */
  color: white; /* Para garantir que o texto seja legível sobre o fundo */
  
  /* Flexbox para centralização vertical e horizontal */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 200px; /* Ajuste a altura conforme necessário */
}

/* Estilo para o <h1> */
header h1 {
  font-size: 3em; /* Ajuste o tamanho da fonte conforme necessário */
  margin: 0; /* Remove margens padrão do <h1> */
}

/* Centralizar o conteúdo do footer */
footer {
  text-align: center;
  padding: 20px;
}
