body {
  font-family: Arial, sans-serif;
}

/* Se você quiser aplicar Arial a um elemento específico */
h1, h2, h3, p {
  font-family: Arial, sans-serif;
}

/* Centralizar o conteúdo do header */
header {
  text-align: center;
  padding: 20px;
}

/* Centralizar o conteúdo do footer */
footer {
  text-align: center;
  padding: 20px;
}
